/* CSS reset starts here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

body {
    line-height: 1.6;
    background-color: #f8f8f8;
  }

a {
    text-decoration: none;
  }

/* CSS reset ends here */

/* Styling for header section starts here */
.main-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 6px 170px;
  }

.logo {
    max-width: 75px;

  }

.list-container {
    display: flex;
    gap: 30px;
    list-style: none;
  }

.list-container li a {
    font-size: 18px;
    color: #e5e7eb;
}
/* Styling for header section ends here */




