/* CSS reset starts here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

body {
    line-height: 1.6;
    background-color: #f8f8f8;
  }

a {
    text-decoration: none;
  }

/* CSS reset ends here */

/* Styling for header section starts here */
.main-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 6px 170px;
  }

.logo {
    max-width: 75px;

  }

.list-container {
    display: flex;
    gap: 30px;
    list-style: none;
  }

.list-container li a {
    font-size: 18px;
    color: #e5e7eb;
}
/* Styling for header section ends here */

/* Styling for main section starts here */
.section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #1f2937;
    gap: 20px;
    padding: 80px 170px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 44%;
}

.heading {
    align-self: flex-start;
    text-transform: capitalize;
    font-size: 42px;
    line-height: 1.3;
    font-weight: 900;
    color: #f9faf8;
}

.description {
    align-self: space-evenly;
    font-size: 18px;
    color: #e5e7eb;
}

.button {
    align-self: flex-start;
    font-size: 18px;
    padding: 8px;
    margin-top: auto;
    border-radius: 6px;
    border: none;
    background-color: #3882f6;
    color: #e5e7eb;
}

.image-container {
    width: 56%;
    display: flex;
}

.main-image {
    margin-left: auto;
    flex: 1;
    width: 220px;
    border-radius: 6px;
}
/* Styling for main section ends here */

/* Styling for catalog section starts here */
.catalog-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: 70px 170px;
    gap: 20px;
}

.catalog-title {
    font-size: 36px;
    font-weight: 900;
    text-transform: capitalize;
}

.catalog-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 6px 20px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.product div {
    display: flex;
    justify-content: center;
    background-color: #151c25;
    width: 200px; 
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 12px;
}

.product-img {
    align-self: center;
    width: 180px;
}

.product p {
    line-height: 1.2;
    text-align: center;
    font-size: 18px;
    margin-bottom: auto;
}

.one, 
.four {
    align-self: stretch;
}
/* Styling for catalog section ends here */

/* Styling for testimonial section starts here */
.testimonial-section {
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 70px 170px;
}

.test-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
    min-width: 180px;
    min-height: 180px;
    border-radius: 50%;
    background: #151c25 url("images/testimonial01.jpg") center no-repeat;
    background-size: cover;
    border: 2px solid #3882f6;
}

.quote {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.4;
    width: 480px;
    color: #1f2937;
}
.quote footer {
    padding-top: 8px;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    text-transform: capitalize;
    align-self: flex-start;
}
/* Styling for testimonial section ends here */

/* Styling for call-to-action section starts here */
.cta {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    margin: 70px 170px;
    padding: 30px 90px;
    gap: 70px;
    border-radius: 12px;
}

.cta-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cta-title {
    text-transform: capitalize;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 900;
    color: #f9faf8;
}

.cta-text {
    font-size: 16px;
    font-weight: 300;
    color: #d5d7db;
}

.cta-btn {
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    flex-shrink: 0;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 2px 3px #1f2937;
    background-color: #3882f6;
    color: #e5e7eb;
    border: 1px solid palegoldenrod;
}
/* Styling for call-to-action section ends here */

/* Styling for footer section starts here */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 170px;
    font-size: 18px;
    background-color: #1f2937;
    color: #e5e7eb;
}


address {
    display: flex;
    gap: 25px;
}

address p {
    border-right: 1px solid #3882f6;
    padding-right: 6px;
}
address p a {
    text-decoration: none;
    color: #e5e7eb;
}

/* Styling for footer section ends here */